@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

:root {
    --yellow: #FFD700;
    --red: #DA291C;
    --blue: #006DB7;
    --green: #00AF4D;
    --white: #fff;
    --black: #000;
}

html, body {
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--yellow);
    background-image: url("website_images/mainbackground.png");
    font-family: "Rubik", serif;
    font-size: 20px;
}
header, article, div, aside, section, footer, main {
    box-sizing: border-box;
}
#content {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    background-color: var(--white);
}

header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    #logo {
        width: 300px;
        display: inline-block;
        margin: 1rem;
    }

    #shoppingcart {
        border: none;
        background-color: transparent;
        margin: 1rem;
        position: relative;

        #cartcount {
            display: block;
            font-family: "Rubik", serif;
            font-size: 0.7rem;
            background-color: var(--red);
            color: var(--white);
            text-align: center;
            width: 20px;
            height: 20px;
            border-radius: 50%;
            padding-top: 5px;
            box-sizing: border-box;
            position: absolute;
            top: 9px;
            left: -7px;
        }

        img {
            width: 50px;
            height: auto;
        }
    }

    nav {
        width: 100%;
        background-color: var(--red);

        ul {
            list-style-type: none;
            margin: 0;
            padding: 0;
            display: flex;

            a {
                text-transform: uppercase;
                color: var(--white);
                padding: calc(0.5rem + 4px) 1rem;
                display: inline-block;
                text-decoration: none;
                border-bottom: 4px solid var(--red);
            }
            a:hover {
                background: var(--yellow);
                color: var(--black);
                border-bottom: 4px solid var(--black);
            }
        }
    }
}

main {

    #productlist {
        display: flex;
        gap: 1rem;
        flex-wrap: wrap;
        justify-content: space-between;
        padding-left: 1rem;
        padding-right: 1rem;
    }

    h2 {
        width: 100%;
        display: block;
        font-size: 2.5rem;
        text-align: center;
        text-transform: uppercase;
    }

    article {
        width: calc(33% - 1rem);
        background: var(--black);
        padding: 1rem;
        color: var(--white);
        border-bottom: 1rem solid var(--green);

        img {
            max-width: 100%;
        }

        a {
            color: var(--yellow);
            text-decoration: none;
        }

        h3 {
            margin: 0;
            text-transform: uppercase;
        }
        p {
            margin: 0;
        }

        button {
            font-family: "Rubik", serif;
            font-size: 1rem;
            background: var(--green);
            color: var(--white);
            padding: .5rem 1rem;
            border: none;
        }
    }
}